body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    flex-grow: 1;
}

.item{
    background-color: blueviolet;
    width: 200px;
    height: 200px;
    /*transition: 300ms;*/
    transition-property: background-color;
    transition-duration: 800ms ;
    transition-timing-function: linear;
}

.item:hover{
    background-color: aqua;
    
}

.parrafoamplio{
    transition: font-size 300ms ease-out;
}

.parrafoamplio:hover{
    font-size: large;
    cursor: pointer;
}

.itemOpacidad{
    width: 200px;
    height: 100px;
    background-color: lightcoral;
    opacity: 0.5;
    transition: opacity 200ms ease-in-out;
}

.itemOpacidad:hover{
    opacity: 1;
}

.subrrayado{
    position: relative;
    display: inline-block;
}

.subrrayado::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    background-color: brown;
    height: 2px;
    transition: width 300ms linear;
}

.subrrayado:hover::after{
    width: 100%;
}